<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <title>Administration</title>
  </head>
  <body>
    <!-- <header> -->
    <h1 class="admin">Administration</h1>
    <!-- </header> -->
    <main>
      <div class="bodycontainer">
        <aside class="sidebar">
          <h4>Produkter</h4>
        </aside>
        <div class="maincontent">
          <h2>
            Produkter
            <button id="loadProducts" class="newproduct">
              Ladda Produkter
            </button>
            <a href="/admin/products/new">
              <button class="newproduct">
              Ny produkt
            </button>
            </a>
          </h2>
          <table id="tableProducts" class="producttable">
            <tr>
              <th scope="col">Namn</th>
              <th scope="col">SKU</th>
              <th scope="col">Pris</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </div>
      </div>
    </main>
    <script>
      async function fetchProducts() {
        //hämtar produktinfo
        const products = await fetch(
          "http://localhost:3000/admin/products/loadProducts"
        );
        const data = await products.json();

        //hämtar element som behövs
        const tableProducts = document.getElementById("tableProducts");
        tableProducts.innerHTML = "";
        const headerRow = document.createElement("tr");
        headerRow.innerHTML = `<th>Namn</th><th>SKU</th><th>Pris</th>`;
        tableProducts.appendChild(headerRow);

        //lägg till infon i tabellen
        data.forEach((element) => {
          const tableRow = document.createElement("tr");
          tableRow.innerHTML = `<td>${element.name}</td><td>${element.sku}</td><td>${element.price}</td>`;
          tableProducts.appendChild(tableRow);
        });
      }
      const loadProductsButton = document.getElementById("loadProducts");
      loadProductsButton.addEventListener("click", fetchProducts);
    </script>
  </body>
</html>
